<div class="row mt-5">
    <div class="col-6">
      <strong>Trụ sở chính: </strong>Công ty Cổ Phần Phúc Long Heritage - ĐKKD: 0316 871719 <br>
      do sở KHĐT TPHCM cấp lần đầu ngày 21/05/2021 <br>
      <strong>Nhà máy: </strong>D_8D_CN Đường XE 1, Khu Công Nghiệp Mỹ Phước III, phường Mỹ Phước, <br>
      thị xã Bến Cát, tỉnh Bình Dương, Việt Nam <br>
      <strong>Địa chỉ: </strong>Phòng 702, Tầng 7, Tòa nhà Central Plaza, số 17 Lê Duẩn, phường Bến Nghé, quận 1, Hồ
      Chí Minh <br>
      <strong>Điện thoại: </strong>1900 234 518 (Ext.9100/ 9102) <br>
      <strong>Fax: </strong>(028) 6263 0379 <br>
      <strong>Email: </strong>sales@phuclong.masangroup.com <br>
      info2@phuclong.masangroup.com
    </div>
    <div class="col-3">
      <strong>Đăng ký nhận tin khuyến mãi</strong><br>
      <form class="row ms-0">
        <div class="col-auto p-0">
          <label for="inputEmail" class="visually-hidden">Nhập địa chỉ Email</label>
          <input type="password" class="form-control" id="inputEmail" placeholder="Nhập địa chỉ Email">

        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-success mb-3">Gửi</button>
        </div>
      </form>
      Chính sách đặt hàng <br>
      Chính sách bảo mật thông tin
    </div>
    <div class="col-3 ps-1">
      <strong>VN | EN </strong><br>
      <img src="image/dathongbao.png" class="img-fluid">
    </div>
  </div>
</div>
<footer class="row text-bg-dark" style="width: 100%;">
  <div style="width: 95%; font-size: small;" class="text-center">
    <i class="fa-regular fa-registered"></i> 2017 Coppy right Phuc Long
  </div>
</footer>