
<nav class="row">
    <nav class="navbar navbar-expand-lg bg-body-secondary" style="margin-left: 12px;width: 98%;">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="image/logo.jpg" class="img-fluid me-0" width="70px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#!home">Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!list">Danh sách sản phẩm</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#!about">Về chúng tôi</a>
            </li>
            <li class="nav-item">

              <a class="nav-link" href="#!contact">Góp ý</a>
            </li>
          </ul>
          <form class="d-flex me-3">
            <button class="align-middle text-center my-auto me-2 border-0 p-0" type="button"><a href="#!cart"
                class="btn btn-outline-success" style="text-decoration: none;"><i
                  class="fa-solid fa-cart-shopping"></i>Giỏ hàng</a></button>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-regular fa-circle-user"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#!login"><i class="fa-solid fa-right-to-bracket"></i> Đăng
                    nhập</a>
                </li>
                <li><a class="dropdown-item" href="#!signup"><i class="fa-solid fa-circle-plus"></i> Đăng kí</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="logout.html"><i class="fa-solid fa-circle-xmark"></i> Đăng xuất</a>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </nav>
  
